p{
    color: green;
}
a{
    color: indigo;
    font-weight: bold;
}
li{
    list-style-type: square;
}
.special{
    color: #4c5c07;
    font-weight: bold;
    font-size: 24px;
}
span.special,em.special{
    color: red;
}
li em{
    color: sienna;
}
h1+p{
    font-size: 200%;
}
a:hover{
    color: red;
    text-decoration: none;
}
a:visited{
    color: slateblue;
}
#unique{
    color: snow;
    background-color: steelblue;
}
li[class]{
    font-style: italic;

}
*{
    background-color: tan;
}